astroid==2.3.0
beautifulsoup4==4.8.1
blis==0.2.4
bottle==0.12.17
certifi==2019.3.9
chardet==3.0.4
ChatterBot==1.0.5
chatterbot-corpus==1.2.0
Click==7.0
colorama==0.4.1
cymem==2.0.2
Django==2.1
et-xmlfile==1.0.1
Flask==1.0.2
gunicorn==19.9.0
haufe.selenium==0.3.0
idna==2.8
isort==4.3.21
itsdangerous==1.1.0
jdcal==1.4.1
Jinja2==2.10.1
lazy-object-proxy==1.4.2
lxml==4.4.1
MarkupSafe==1.1.1
mathparse==0.1.2
mccabe==0.6.1
murmurhash==1.0.2
nltk==3.4.5
numpy==1.17.2
openpyxl==3.0.0
Pillow==9.0.0
Pint==0.9
pipenv==2018.11.26
plac==0.9.6
preshed==2.0.1
PyJWT==1.7.1
pylint==2.4.1
pymongo==3.9.0
PySocks==1.7.1
python-dateutil==2.7.5
pytz==2019.2
PyYAML==5.1.2
requests==2.22.0
selenium==3.141.0
six==1.12.0
soupsieve==1.9.5
spacy==2.1.8
SQLAlchemy==1.2.19
srsly==0.1.0
thinc==7.0.8
tqdm==4.36.1
twilio==6.25.2
typed-ast==1.4.0
urllib3==1.24.1
virtualenv==16.7.7
virtualenv-clone==0.5.3
wasabi==0.2.2
Werkzeug==0.15.1
wrapt==1.11.2
ZConfig==3.5.0
zdaemon==4.3
